/*COLORS*/

$main-color-blue: #315efb;
$main-color-black: #000;
$main-color-white: #fff;
$main-color-grey: #959595;
$main-bg-color: #ebf0f3;
$card-active-color: #f5f9ff;
$border-color: #ededed;
$btn-lable-green: #77c621;
$btn-lable-orange: #fd7923;
$btn-lable-red: #e02925;
$lable-color: #f6f8f9;
$card-bg-grey: #dfe8f3;


/*FONT-SIZE*/
$nav-icon-font-size: 80px;
$title-font-size: 53px;
$font-size-xl: 30px;
$font-size-l: 20px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 13px;
$font-size-button: 25px;

/*FONT_WEIGHT*/
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

/*PADDINGS*/
$padding-xxl: 100px;
$padding-xl: 50px;
$padding-l: 40px;
$padding-m: 30px;
$padding-s: 20px;
$padding-xs: 15px;
$padding-xxs: 10px;
$padding-xxxs: 5px;

/*MARGINS*/
$margin-xxl: 100px;
$margin-xl: 50px;
$margin-l: 40px;
$margin-m: 30px;
$margin-s: 20px;
$margin-xs: 15px;
$margin-xxs: 10px;
$margin-xxxs: 5px;

/*CONTAINER*/
$basic-container-width: 3840px;
